@CHARSET "UTF-8";

#footer {
	background-color: #E0E0E0;
	border:1px solid #D1D1D1;
	margin: 0px auto;
	overflow: auto;
	padding: 5px;
	width: 950px;
	height: 100px;

	-moz-box-shadow: 0 5px 5px #999;
	-webkit-box-sadow: 0 5px 5px #999;
	box-shadow: 0 5px 5px #999;
}