@CHARSET "UTF-8";

@font-face {
    font-family: 'Linearmente';
    src: url('/GAMER/res/font/linearmente/LinearmenteRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
	margin: 115px 0px 0px 0px;
	color: white;
	text-shadow: 0px 0px 10px rgba(27, 25, 22, 0.8);
	float: left;
	font: 70pt/5px 'Linearmente';
	padding: 5px;
}

#header {
	margin: 0px auto;
	overflow: auto;
	width: 960px;
	height: 200px;
}