@CHARSET "UTF-8";
div#reg-cont {
	margin: 10px;
	padding: 20px;
	background-color: rgba(27, 25, 22, 0.9);
	border: 1px solid rgba(27, 25, 22, 0.9);
	border-radius: 5px;
}

#reg-cont table{
	margin: 0px auto 0px auto;
	display: block;
	border-spacing: 0px 5px;
}

td.input {
	text-align: center;
	width: 300px;
}

td.input-title {
	text-align: right;
	width: 195px;
	padding: 5px;
}

#reg-cont input {
	border: 1px solid #D1D1D1;
	height: 23px;
}

#reg-cont p {
	text-align: center;
	margin-top: 25px;
}

#reg-cont h2 {
	line-height: 0px;
	margin-bottom: 40px;
	text-align: center;
}

#reg-cont a {
	color: #0087EC;
}

input#submit {
	height: 30px;
	width: 230px;
	background-color: transparent;
	border: 1px solid #007AD4;
	color: rgb(255, 255, 255);
	margin: 35px auto 0px auto;
	display: block;
}

input#submit:hover {
	border: 1px solid white;
}

#reg-cont input[type="text"], #reg-cont input[type="password"] {
	background-color: rgba(255, 255, 255, 0.2);
	border-style: none;
	color: white;
	border-radius: 3px;
	width: 250px;
}

fieldset.reg-log {
	border-radius: 5px;
	margin: 10px 80px;
	border-color: rgba(255, 255, 255, 0.2);
}