@CHARSET "UTF-8";

#nav {
	background-color: #1B1916;
	border: 1px solid #1B1916;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	height: 42px;
	margin: 0px auto;
	overflow: auto;
	width: 960px;
}

#nav ul {
	margin: 0px 0px;
}

#nav li {
	display: inline;
}

#nav a {
	color: #ffffff; 
	display: inline-block;
	font-size: 18pt;
	font-weight: bold;
	line-height: 0px;
	padding: 18px 7.8%;
}

#nav a:hover {
	border-bottom-style: solid;
	border-color: #59524B;
	border-width: 4px;
}

span.status-info {
	font-size: 12pt;
}

body.home a#home, 
body.games a#games,
body.toys a#toys,
body.basket a#basket {
	border-bottom-style: solid;
	border-color: #0087EC;
	border-width: 4px;
}