@CHARSET "UTF-8";

div#pages-bar {
	float: left;
	overflow: auto;
	width: 935px;
	height: 65px;
	margin: 10px 10px;

	background-color: rgba(27, 25, 22, 0.9);
	border: 1px solid rgba(27, 25, 22, 0.9);

	border-radius: 5px;
}

#pages-bar p {
	letter-spacing: 5px;
}

span#current-page {
	font-weight: bold;
	font-size: 16pt;
	color: #0087EC;
}

#pages-bar table {
	width: 600px;
	margin: 0px 180px;
}

#pages-bar td {
	width: 200px;
	text-align: center;
}

#pages-bar input {
	background-color: transparent;
	border-color: transparent;
	color: rgb(255, 255, 255);
	height: 30px;
	width: 150px;
	display: block;
	margin: 0px auto;
}

#pages-bar input:hover {
	border: 1px solid rgb(255, 255, 255);
}