@CHARSET "UTF-8";

.prod {
	float: left;
	height: 500px;
	margin: 11px;
	padding: 10px;
	width: 278px;
}

.prod img {
	height: 200px;
	margin: 5px 0px;
	width: 278px;
}

.prod h2 {
	text-align: center;
}

.prod p {
	text-align: justify;
}

.prod input {
	background-color: #E0E0E0;
	border: 1px solid #D1D1D1;
	height: 30px;
	width: 150px;
	display: block;
	margin: 0px auto;
}

.prod input:hover {
	background-color: #F0F0F0;
}