@CHARSET "UTF-8";

@font-face {
    font-family: 'Jura';
    src: url('/GAMER/res/font/jura/Jura-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('/GAMER/res/font/jura/Jura-DemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
	/*background-image: url(/GAMER/res/img/misc/Cool-Gaming-Wallpaper.jpg);*/
	background-image: url(/GAMER/res/img/misc/sun_rays.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 0px -150px;
	font-family: 'Jura';
	color: rgb(246, 246, 246);
	margin: 0px;
	font-weight: bold;
}

a {
	text-decoration: none;
}